name: Nuxt CI/CD

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 
          cache: 'npm'

      - name: Install dependencies
        run: npm install --ignore-scripts

      - name: Nuxt Prepare
        run: npx nuxi prepare

      - name: Run Lint
        run: npm run lint
        continue-on-error: false 

      - name: Run Typecheck
        run: npm run typecheck

      - name: Run Build
        run: npm run build

      - name: Run Build
        run: npm run build

  sonar-scan:
    runs-on: ubuntu-latest
    needs: build-and-test

    if: github.ref == 'refs/heads/main'
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v3.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}